extends /layouts/page.jade

block page-title
  != ''

block navigation
  +nav(null, ['about', 'posts', 'things'])

block content
  img(src='/images/matt-liegey_bw.jpg' class="my-pic")
  p.
    I am Matt Liegey.
  p.
    I am a human being form the planet Earth who codes and watches films with a
    fondness for machine learning and hiding information in plain sight.
  p.
    I stashed text in the pixels of images and taught triangles to mimic paintings.
    Something funny and clever.
