extends /layouts/page.jade

block page-title
  != ''

block navigation
  +nav(null, ['about', 'posts', 'things'])

block content
  img(src='/images/matt-liegey_bw.jpg' class="my-pic")
  p.
    I am Matt Liegey.
  p.
    I am a software engineer with a fondness for machine learning,
    web development, and hiding information in plain sight.
  p.
    I stashed text within the pixels of images and taught triangles to mimic paintings.
    I have yet to settle on a favorite language and intend to try them all.
  p="</blurb>"
