extends /layouts/base.jade

include /mixins/helpers.jade

block body
  div(class='heading')
    h1 Matt Liegey
  div(class='page flex grow')
    div(class='navigation')
      block navigation
        | /
    div(class='content')
      block page-title
        h2
          block title
            | Matt Liegey
      block content
        div This is a page.
